<html>
    <head>
    </head>
    <body>
        <h1>
            Hello! Ahoj! ¡Hola!<br>
            <a href="/page_2">
                CLICK
            </a>
            <br>
            <a href="/EXAMPLE/1">
                1
            </a>
            <br>
            <a href="/EXAMPLE/TYVOLE">
                TYVOLE
            </a>
            <br>
            <a href="/EXAMPLE/KAMO">
                KAMO
            </a>
            <br>
            <a href="/EXAMPLE/LASKO">
                LASKO
            </a>
            <br>
            <form action="/page_3" method="post">
                <input type="submit" value="Submit">
            </form>
        </h1>
    </body>
</html>