{% extends "base.html" %}

{% block content %}
<h1>Film: {{film.title}}</h1>
<p>Price: {{film.price}}</p>
<p>Score: {{film.score}}</p>

{% if user.is_authenticated %}
<p>Give it a score!</p>
<form action="post_score/" method="post">
	{% csrf_token %}
	<input type="number" id="score" name="score" max=10 min=0>
	<input type="submit" value="Score">
</form>
{% endif %}
<ul>
	{% for actor in film.actor.all %}
		<li><a href="{% url 'actor' actor.slug %}">{{actor.name}}</a></li>
	{% endfor %}
</ul>
{% endblock %}